@import "normalize.scss";
$primaryColor: #9356dc;
$secondaryColor: #ff79da;
$tertiaryColor: #99e2d0;

$backgroundColor: #f2f2f2;
$footerColor: #2b2928;

$borderRadius-card: 24px;

/* mix ins */

@mixin center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

@mixin centerCol {
  @include center;
  flex-direction: column;
}

@mixin centerRow {
  @include center;
  flex-direction: row;
}

@mixin purpleButton {
  background-image: linear-gradient($primaryColor, $secondaryColor);
  color: white;
  border-radius: 20px;
  height: 40px;
  width: 50%;
  border: 2px transparent;
  margin-bottom: 20px;
}

@mixin greyButton {
  background-color: $backgroundColor;
  border-radius: 20px;
  height: 50px;
  width: 80%;
  border: 2px transparent;
  margin-bottom: 20px;
}

@mixin menuHeader {
  display: flex;
  justify-content: space-between;
  @include menuHeaderPadding;
}

@mixin menuHeaderPadding {
  padding-right: 80px;
}

@mixin menuImage {
  height: 20%;
  width: 100%;
}

@mixin menuBoxBorder {
  background-color: white;
  border-radius: $borderRadius-card;
}

/* spinner */

.loader {
  // border: 16px solid #f3f3f3;
  // border-top: 16px solid $primaryColor;
  // border-radius: 50%;

  // width: 120px;
  // height: 120px;
  // animation: spin 2s linear infinite;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
}

header,
main {
  animation: fadeIn 3.5s ease-in 1;
}

.loader {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid grey;
  border-top-color: #9356dc;
  border-radius: 50%;
  opacity: 0;
  animation: loading 0.75s ease infinite, disappear 3s ease 1;
  position: fixed;
  top: 30%;
  left: 30%;
}

.ordered {
  background-color: aquamarine;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em 1.6em;
  i {
    font-size: 2em;
    color: white;
  }
  transform: translateX(100%);
  display: none;
}

.box:active {
  .ordered {
    animation: slideRightToLeft 2s 1;
    transform: translateX(0%);
    display: inline-flex;
  }
  i {
    animation: loading 2s 1;
  }
}

@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
    display: none;
  }
  100% {
    transform: translateX(0%);
    display: inline-flex;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px !important;
  // font-family: "Shrikhand", cursive;
}

.nav-header #logo {
  text-align: center;
}

.card-image img {
  width: 100%;
}

.section-1,
.section-3 {
  background-color: $backgroundColor;
}

.section-1,
.section-2-row,
.section-3-row {
  @include center;
  h3,
  .step {
    width: 100%;
    @include centerRow;
  }
}

.restaurant-card {
  @include centerCol;
}

.text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &-wrap {
    display: flex;
    flex-direction: column;
  }
  .heart-icon {
    @include centerRow();
  }
  h5,
  p {
    margin: 0;
  }
}

.section-1 button {
  @include purpleButton;
}

.section-2 button {
  @include greyButton;
}

.section-2 button:active {
  background-color: lavender;
}

.section-2 .step p {
  color: white;
  background-color: $primaryColor;
  border-radius: 40px;
  width: 25px;
  height: 25px;
  text-align: center;
  border: 2px transparent;
}

.section-3 .restaurant-card {
  width: 80%;
  background-color: white;
  border-radius: 15px 15px;
  border: 5px solid white;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.section-3 .heart-icon :active {
  background-image: linear-gradient($primaryColor, $secondaryColor);
}

.section-3 img {
  height: 100%;
  width: 100%;
}

.section-3-row #enchanted-plate {
  height: 260px;
}

.section-3-row #enchanted-plate img {
  height: 200px;
  width: 300px;
}

.main-header {
  display: flex;
  justify-content: center;
}

footer {
  background-color: $footerColor;
  color: white;
  height: 20vh;
  padding: 1.2em 0em;
  .footer-logo,
  ul {
    padding-inline-start: 2em;
  }
}

footer h3 {
  font-family: "Shrikhand", cursive;
}

.footer-link {
  text-decoration: none;
  color: white;
}

footer ul li {
  list-style: none;
}

.LocationWrapper {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  @include center;
}

/* the full palette */

.menu-header {
  @include menuHeader;
}

.full-palette-image img {
  @include menuImage;
}

.menu-section {
  background-color: $backgroundColor;
}

.menu-section-header {
  font-family: "shrikhand", cursive;
  display: flex;
  justify-content: space-between;
}

.box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  height: 80px;
  align-items: center;
  overflow: hidden;

  &-wrap {
    display: flex;
    flex-direction: column;
  }

  // p {
  //   @include centerRow();
  // }

  h3,
  p {
    margin: 0;
  }

  @include menuBoxBorder();
}

.menu-section button {
  @include purpleButton();
}

.menu-button {
  align-items: center;
}

.section-3 {
  padding: 1.9em 0.8em;
  h3 {
    margin-left: 6%;
  }
}

.row .box {
  opacity: 1;
}

.row :nth-child(1) {
  animation: fadeIn 1000ms 1;
}
.row :nth-child(2) {
  animation: fadeIn 1000ms 1;
  animation-delay: 600ms;
}
.row :nth-child(3) {
  animation: fadeIn 1000ms 1;
  animation-delay: 1000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  // ench

  // .section-3-row #enchanted-plate img {
  //   // height: 200px;
  //   // width: 300px;
  //   width: 190px;
  //   height: 132px;
  // }

  // .section-3 img {
  //   width: 100%;

  // }
}
