@import "normalize.scss";
$primaryColor: #9356dc;
$secondaryColor: #ff79da;
$tertiaryColor: #99e2d0;

$backgroundColor: #f2f2f2;
$footerColor: #2b2928;
$gradient: linear-gradient($secondaryColor, $primaryColor);
$borderRadius-card: 24px;

/* mix ins */
i {
  text-decoration: none;
}

@mixin center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

@mixin centerCol {
  @include center;
  flex-direction: column;
}

@mixin centerRow {
  @include center;
  flex-direction: row;
}

@mixin purpleButton {
  background-image: $gradient;
  color: white;
  border-radius: 20px;
  height: 40px;
  width: 50%;
  border: 2px transparent;
  margin-bottom: 20px;
}

@mixin greyButton {
  background-color: $backgroundColor;
  border-radius: 20px;
  height: 50px;
  width: 80%;
  border: 2px transparent;
  margin-bottom: 20px;
}

@mixin menuHeader {
  display: flex;
  justify-content: space-between;
  @include menuHeaderPadding;
}

@mixin menuHeaderPadding {
  padding-right: 80px;
}

@mixin menuImage {
  height: 20%;
  width: 100%;
}

@mixin menuBoxBorder {
  background-color: white;
  border-radius: $borderRadius-card;
}






header,
main {
  animation: fadeIn 3.5s ease-in 1;
}



.menu-section-header .HeartWrapper {
  font-size: 1.7em !important;
  top: 0.5em;
  position: relative;
}
.loader {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid grey;
  border-top-color: #9356dc;
  border-radius: 50%;
  opacity: 0;
  animation: loading 0.75s ease infinite, disappear 3s ease 1;
  position: fixed;
  top: 40%;
  left: 40%;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.nav-header {
  display: flex;
  // justify-content: center;
  width: 100%;
  gap: 30%;
}

.ordered {
  background-color: $tertiaryColor;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em 1.6em;

  i {
    font-size: 2em;
    color: white;
  }

  transform: translateX(100%);
  display: none;
}





.box:active .ordered {
    animation: slideRightToLeft 2s 1 ;
    transform: translateX(0%);
    display: inline-flex;
  }

  

  .herb-encrusted-box:active  {
    p { 
    white-space: nowrap; /* Prevents title from wrapping */
    overflow: hidden; /* Hides any overflowing text */
    text-overflow: ellipsis; /* Displays an ellipsis (...) when text overflows */
    max-width: 200px; /* Sets maximum width of the title */
  }
  }

  .fried-egg-box:active  {
    p { 
    white-space: nowrap; /* Prevents title from wrapping */
    overflow: hidden; /* Hides any overflowing text */
    text-overflow: ellipsis; /* Displays an ellipsis (...) when text overflows */
    max-width: 200px; /* Sets maximum width of the title */
  }
  }

 
//   .herb-encrusted-box p {
  
//     white-space: nowrap; /* Prevents title from wrapping */
//   overflow: hidden; /* Hides any overflowing text */
//   text-overflow: ellipsis; /* Displays an ellipsis (...) when text overflows */
//   max-width: 200px; /* Sets maximum width of the title */
// }
  
  
  
  
  i {
    animation: loading 2s 1;
  }


@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
    display: none;
  }

  100% {
    transform: translateX(0%);
    display: inline-flex;
  }
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px !important;

  // font-family: "Shrikhand", cursive;
}

header {
  padding: 10px;
}

.nav-header #logo {
  text-align: center;
}

.card-image {
  width: 100%;
  height: 10em;
}

.section-1 p {
  font-weight: lighter;
  margin: 10px;
  text-align: center;
}

.section-1,
.section-3 {
  background-color: $backgroundColor;
}

.enchanted-header .HeartWrapper {
  top: -5px;
}

.section-3 #enchanted-plate img {
  width: 327px;
  height: 200px;
}

.section-1,
.section-2-row,
.section-3-row {
  @include center;

  h3,
  .step {
    width: 100%;
    @include centerRow;
  }
}

.restaurant-card {
  @include centerCol;
}

.text {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &-wrap {
    display: flex;
    flex-direction: column;
  }

  .heart-icon {
    @include centerRow();
  }

  h4,
  p,
  i {
    margin: 10px;
  }
}

button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-image {
  position: relative;
  text-align: center;
  color: white;
}

.new-text {
  position: absolute;
  top: 8px;
  right: 16px;
  text-decoration: none;
  color: rgba(79, 77, 77, 0.868);

  border: solid $tertiaryColor 3px;
  border-radius: 2px;
  background-color: $tertiaryColor;
  width: 70px;

  font-weight: 300;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.section-3 .restaurant-card p {
  font-weight: lighter;
}

.section-1 button {
  @include purpleButton;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.section-1 button:hover {
  background: linear-gradient(#d885c0, #c7b7da);
}

.section-2 .step p {
  margin-right: -30px;
  top: -0.8em;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.section-2 button {
  @include greyButton;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 70px;
  width: 90%;
}

// .section-2 .buttonWrapper{

//   display: flex;
//   flex-wrap: wrap;
//   gap: 20px;
//   margin-left: 20px;
//   font-weight: bold;
// }

.section-2 button:hover {
  background-color: #d9cfe5;

  i {
    color: $primaryColor;
  }
}

.section-2 .step p {
  color: white;
  background-color: $primaryColor;
  border-radius: 40px;
  width: 25px;
  height: 25px;
  text-align: center;
  border: 2px transparent;
}

.section-2 .fa-solid {
  display: flex;
  margin-left: 20px;
  margin-bottom: -15px;
}

.section-2 .create-menu-button .label {
  margin-left: -60px;
}

.section-2 .choose-restaurant-button .label {
  margin-left: -50px;
}

.section-2 button i {
  color: grey;
}

.section-3 .restaurant-card {
  width: 100%;
  height: 70%;

  background-color: white;
  border-radius: 15px 15px;
  // border: 5px solid white;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  // margin: 10% 15% 15% 0%;

  // height: 100%;
}

.section-3 .heart-icon:active {
  background-image: $gradient;
}

.section-3 img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

// .section-3-row #enchanted-plate {
//   height: 260px;
// }

// .section-3-row #enchanted-plate img {
//   height: 200px;
//   // width: 300px;
// }

.main-header .nav-header {
  display: flex;
  justify-content: center;
}

footer {
  background-color: $footerColor;
  color: white;
  // top: 1150px;
  height: 20vh;
  padding: 1.2em 0em;
  position: relative;

  // position: fixed;
  .footer-logo,
  ul {
    padding-inline-start: 2em;
  }
}

footer i {
  color: white;
}

footer h3 {
  font-family: "Shrikhand", cursive;
}

.footer-link {
  text-decoration: none;
  color: white;
}

footer ul li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
}

.LocationWrapper {
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  @include center;
}

/* menus */

.menu-header i {
  color: black;
}

.menu-header {
  @include menuHeader;
}

.menu-image img {
  @include menuImage;
  z-index: 1;
  // position: relative;
}

.enchanted-image {
  height: 300px;
}

.enchanted-image img {
  height: 100%;
}

.menu-section {
  background-color: $backgroundColor;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: relative;
  margin-top: -90px;
  border-radius: 40px 40px 0px 0px;

  .box .text-wrap p {
    font-weight: lighter;
  }
}
h4 {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.HeartWrapper {
  display: grid;
  overflow: hidden;

  .fa-solid {
    opacity: 0;
    position: relative;
    top: -100%;

    z-index: 1;
    background: $gradient();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:active .fa-solid,
  &:hover .fa-solid {
    animation: fillUp 1s forwards;
  }

  .fa-regular {
    
    
    z-index: 0;
  }
}

@keyframes fillUp {
  0% {
    transform: translateY(100%);
    display: none;
    opacity: 0;
  }

  50% {
    transform: translateY(0%);
    display: block;
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    display: block;
    opacity: 1;
  }
}

.menu-section-header {
  font-family: "shrikhand", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.section-header {
  position: relative;
  display: inline-block;
  /* Header are 100% width by their default block behaviour */
  margin-left: 15px;
}

.section-header:before {
  position: absolute;
  height: 2px;
  width: 70%;
  left: 0;
  bottom: -2px;
  background: $tertiaryColor;
  display: block;
  content: "";
}

.box h3,
.box p {
  margin: 10px;
}





.text-wrap {
 
  padding: 0.1em 0.6em;
  p,
  h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  p {
    width: 100%;
  }
}

.box p {
  align-self: flex-end;
}

.box {
  display: flex;
  justify-content: space-between;
  width: 95%;
  // margin-bottom: 20px;
  height: 80px;
  align-items: center;
  overflow: hidden;
  margin: auto;
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  &-wrap {
    display: flex;
    flex-direction: column;
  }

  // h3,
  // p {
  //   margin: 0;
  // }

  @include menuBoxBorder();
}

.menu-section button {
  @include purpleButton();
}

.menu-section button:hover {
  background: linear-gradient(#c7b7da, #d885c0);
}

.menu-button {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.menu-button {
  align-items: center;
}

.section-3 {
  padding: 2em 1.5em;
}

.section-2 h3 {
  margin-left: 6%;
}

.section-3 h3 {
  margin-left: 6%;
}

.section-3 .restaurant-card h4 {
  margin-left: -2px;
}

.row .box {
  opacity: 0;
}

.row .box:nth-child(1) {
  animation: fadeIn 1000ms 1 forwards;
}

.row .box:nth-child(2) {
  animation: fadeIn 1000ms 1 forwards;
  animation-delay: 600ms;
}

.row .box:nth-child(3) {
  animation: fadeIn 1000ms 1 forwards;
  animation-delay: 900ms;
}

.row .box:nth-child(4) {
  animation: fadeIn 1000ms 1 forwards;
  animation-delay: 900ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 620px) {
  .LocationWrapper {
    height: 60px;
    font-size: 1.2em;
  }

  .section-1 h3 {
    font-size: 2em;
  }

  .section-1 p {
    font-size: 1.5em;
  }

  .section-1 button {
    width: 90%;
    height: 60px;
  }

  .section-header {
    font-size: 1.5em;
  }

  .menu-section {
    align-items: flex-start;
  }



  .enchanted-image img {
    height: 450px;
  }

  .menu-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .box {
    height: 160px;

    h3 {
      font-size: 1.3em;
    }
    p {
      font-size: 1.3em;
    }
  }

  .nav-header {
    gap: 40%;
    a {
      align-items: center;
      display: flex;
      text-decoration: none;
    }
  }

  .menu-section-header {
    width: 100%;
    font-size: 1.4em;
  }

  .mains-section {
    width: 35%;
  }
  .menu-button {
    width: 100%;
    margin: 0em 20%;
  }
  .section-1,
  .section-2-row,
  .section-3-row {
    flex-direction: column;

    h3,
    .step {
      width: 100%;
      @include centerRow;
    }
  }
  .MainHomepage .section-1,
  .section-2 {
    margin: auto;
    width: 60%;
    background-color: white;
  }
  .section-3 {
    margin: auto;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    // width: 70%;
    h3 {
      width: 100%;
    }
    .section-3-row {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      .restaurant-card {
        width: 40%;
        height: 16em;
      }
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .menu-image {
    position: absolute;
    height: 140%;
    img {
      object-fit: cover;
      height: 100%;
    }
  }
  .menu-section {
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

  .loader {
    top: 50%;
    left: 50%;
  }

  .enchanted-image img {
    width: 176%;
  }

  footer {
    text-align: center;
  }
}
